<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
   <div id="app">
       <div class="panel panel-primary">
           <div class="panel-heading">
               <h3 class="panel-title">添加品牌</h3>
           </div>
           <div class="panel-body form-inline">
               <label for="">
                   ID:
                   <!-- 数据双向绑定 -->
                   <input type="text" class="form-control" v-model="id">
               </label>
               <label for="">
                   Name:
                   <!-- 数据双向绑定 -->
                   <input type="text" class="form-control" v-model="name" @keydown.enter="add">
               </label>
               <!-- 点击触发事件add -->
               <input type="button" value="添加" class="btn btn-primary" @click="add">
               <label for="">
                    搜索关键字:
                    <!-- 数据双向绑定 -->
                    <input type="text" class="form-control" v-model="keyworys" id="userName" v-focus>
                </label>
           </div>
       </div>
       <!-- 表格 -->
        <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                       <th>id</th>
                       <th>name</th>
                       <th>ctime</th>
                       <th>operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in search(keyworys)" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.ctime | dataMydate}}</td>
                        <td>
                            <a href="#" @click.prevent="del(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
        </table>
   </div>


    <script>


        // 自定义全局指令,使用 Vue.directive()
        //  第一个参数：指令名称
        //  第二个参数： 对象

        Vue.directive('focus', {
            // bind : function(el){
            //     // 当指令绑定到元素上后，会立即执行这个 bind 函数 只执行一次
            //     // el 代表绑定元素
            //     el.focus();
            // },
            inserted : function(el){
                // 插入到 dom 中 ，会执行 inserted 函数 触发一次
                el.focus();
            },
            // updated : function(el){
            //     // vNode 更新时 ，会执行updated 函数 可能会 触发多次
            //     el.focus();
            // },
        })

// document.getElementById('userName').focus();

        // 使元素自动获取焦点
            // setTimeout( function(){
            // try{
            //     var t = document.getElementById('userName');
            //     t.focus();
            //     t.select();
            // } catch(e){}
            // }, 200);

        Vue.filter('dataMydate', function(datestring){
            let date = new Date(datestring);

            const y = date.getFullYear();
            const m = (date.getMonth() + 1).toString().padStart(2, '0');
            const d = date.getDate().toString().padStart(2, '0');

            const h = date.getHours().toString().padStart(2, '0');
            const f = date.getMinutes().toString().padStart(2, '0');
            const s = date.getSeconds().toString().padStart(2, '0');

            // return y + '-' + m + '-' + d + '/' + h + '-' + f + '-' + s;
            return `${y} - ${m} - ${d} / ${h} : ${f} : ${s}`;
        });

// padStart：返回新的字符串，表示用参数字符串从头部补全原字符串。












        new Vue({
            el : '#app',
            data : {
                id : '',
                name : '',
                keyworys : '',
                list : [
                    {id : 1, name : '奔驰', ctime : new Date()},
                    {id : 2, name : '宝马', ctime : new Date()},
                ]
            },
            methods : {
                add() {
                   var dog = {id : this.id, name : this.name, ctime : new Date(),}
                    // 如果用户没有输入数据，return 结束程序
                  if(this.id === '' && this.name === '') return;

                    this.list.push(dog);
                    // 清空表单控件中的内容
                    this.id = this.name = '';

                    // 
                    
                },
                del(id) {
                    // 分析
                    // 1、如何根据id 找到要删除的这一项索引
                    // 2、找到索引了，直接调用数组的 splice 方法.

                    this.list.some((item , i) =>{
                        if(item.id === id){
                            this.list.splice(i, 1);
                            // 在数组some方法中，如果 return true,就会立即终止这个数组的后续循环
                            return true;
                        }
                    });

                    // findIndex()方法
                },
                search(keyworys) { // 根据关键字，进行搜索
                    // 新建一个新数组
                    var newList = [];
                    // 循环 list 数组, 
                    this.list.forEach(item => {
                        // 判断是否包含字段
                        if(item.name.indexOf(keyworys) != -1) {
                            // 
                            newList.push(item);
                        }
                    });
                    return newList;
                },
            }
        });
    
    </script>
</body>
</html>